#video-container{
  margin-top: 20px;
}

.video-item{
  margin: 10px;
  width: 260px;
  height: 146px;
}

.uploader-progress-bar{
  margin-bottom: 15px;
  margin-top: 15px;
}

.bar {
  height: 18px;  
  border-radius: 4px;  
}